body {
    background-color:rgb(31, 31, 31);
    color: silver;
}

h1 {
    margin-bottom: 7.5px;
}

h3 {
    margin-top: 7.5px;
}

button {
    width: 100px;
}

#menu-buttons {
    position: absolute;
    top: 15px;  
    right: 15px;
}